// Colors
$main-color: #073763;
$light-color: #f2f2f2;
$dark-color: #252525;

// Sizes
$offset-space: 2vw;
$radius-size: 8px;
$section-offset-space: 30px;
$root-text-size: 16px;

// Breakpoints
$screen-sm: 575.98px;
$screen-md: 767.98px;
$screen-lg: 991.98px;
$screen-xl: 1199.98px;

@mixin breakpoint($point) {
  @if $point == xl {
    @media (max-width: $screen-xl) { @content; }
  }
  @else if $point == lg {
    @media (max-width: $screen-lg) { @content; }
  }
  @else if $point == md {
    @media (max-width: $screen-md) { @content; }
  }
  @else if $point == sm {
    @media (max-width: $screen-sm)  { @content; }
  }
  @else {
    @media (max-width: $point)  { @content; }
  }
}

@mixin boxStyle {
  border-radius: $radius-size;
  border: 2px solid $light-color;
  padding: $section-offset-space;
  @include breakpoint(lg) {
    padding: calc(#{$section-offset-space} * 0.4);
  }
}

@mixin buttonStyle {
  background-color: $main-color;
  color: $light-color;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    opacity: .9;
  }
}