@import-normalize;

@import "./veriables";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $root-text-size;
}

.container {
  max-width: 1200px;
  padding: 0 $offset-space;
  margin: 0 auto;
}

.app {
  min-height: 700px;
  padding-bottom: 50px;
}

.loading-box {
  text-align: center;
  font-size: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  @include buttonStyle()
}

.alert-box {
  padding: $section-offset-space;
}

// TODO
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}
 */
/* @keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
 */