@import-normalize;
@import "./veriables";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $root-text-size;
}

.container {
  max-width: $screen-xl;
  padding: 0 $offset-space;
  margin: 0 auto;
}

.app {
  min-height: 700px;
  padding-bottom: 70px;
}

.loading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: $section-offset-space;
  text-align: center;
  img {
    max-width: 60px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
  }
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  @include buttonStyle()
}

.alert-box {
  padding: $section-offset-space;
}

.error-input {
  box-shadow: 0 0 0 3px rgba(228, 21, 21, 0.5);
}