@import "./veriables";

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $offset-space;
  background-color: $main-color;
  color: #fff;

  @include breakpoint(sm) {
    zoom: 0.9;
  }

  .brand {
    text-align: left;
    h1 {
      margin-bottom: 0.1em;
    }
    h2 {
      margin-top: 0;
      font-size: 1em;
    }
  }

  nav a {
    @include buttonStyle();
    white-space: nowrap;
  }
}