@import "./veriables";

$box-border-size: 2px;

.select-hotel-view {
  margin-top: $section-offset-space;
  padding: $section-offset-space;
  border-radius: $radius-size;
  border: 2px solid $light-color;

  @include breakpoint(md) {
    padding: $section-offset-space / 2;
  }

  .hotels-selectbox {
    margin-bottom: 10px;

    .selectboxhotels__control {
      border-width: $box-border-size;
      border-color: $dark-color;
      box-shadow: none;
    }
  }

  .detail-info-wrap {
    display: flex;
    justify-content: space-between;

    @include breakpoint(md) {
      flex-direction: column;
    }
    
    label {
      width: calc(100% - 20px - (#{$box-border-size} * 2));
      display: flex;
      flex-direction: column;
      padding: 10px;
      //border: $box-border-size solid $dark-color;
      /* border-left: none;
      @include breakpoint(md) {
        border-left: $box-border-size solid $dark-color;
        border-top: 0;
      }
      &:first-child {
        border-left: $box-border-size solid $dark-color;
        @include breakpoint(md) {
          border-top: $box-border-size solid $dark-color;
        }
      } */

      input {
        margin-top: 5px;
        padding:10px 5px;
      }
    }
  }
}